@model IEnumerable<StoreCell.Models.RegisterProv>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProvName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProvEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProvPhone)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProvName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProvEmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProvPhone)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ProvID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ProvID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ProvID })
        </td>
    </tr>
}

</table>
